jspm_packages
bower_components
.idea
.DS_STORE
Thumbs.db
build/reports
/coverage

/yarn.lock
/package-lock.json

# Compiled files
# can push /scripts up if want to serve the repo as gh-pages
/src/environment.js

!node_modules/

node_modules/*
!node_modules/@material/
!node_modules/material-components-web/