<template>
	<div class="mdc-select ${disabled ? 'mdc-select--disabled' : ''} ${modifier ? modifier : ''} ${leading ? 'mdc-select--with-leading-icon' : ''}">
		<i if.bind="leading" class="material-icons mdc-select__icon" role="button">${leading}</i>
		<i class="mdc-select__dropdown-icon"></i>
		<select class="mdc-select__native-control" required.bind="required" id="select--${unique}">
			<option value="" selected.bind="!selectedValue"></option>
			<option value.bind="item[key]" repeat.for="item of data" selected.bind="item[key] == selectedValue">
				${item[value]}
			</option>
		</select>
		<label if.bind="label && (!modifier || modifier.indexOf('mdc-select--outlined') === -1)" class="mdc-floating-label ${selectedValue ? 'mdc-floating-label--float-above' : ''}" for="select--${unique}">${label}</label>
		<div if.bind="!modifier || modifier.indexOf('mdc-select--outlined') === -1" class="mdc-line-ripple"></div>
		<div if.bind="modifier.indexOf('mdc-select--outlined') > -1" class="mdc-notched-outline">
			<div class="mdc-notched-outline__leading"></div>
			<div show.bind="label" class="mdc-notched-outline__notch">
				<label class="mdc-floating-label ${selectedValue ? 'mdc-floating-label--float-above' : ''}" for="select--${unique}">${label}</label>
			</div>
			<div class="mdc-notched-outline__trailing"></div>
		</div>
		<div if.bind="modifier.indexOf('mdc-select--outlined') > -1" class="mdc-notched-outline__idle"></div>
	</div>
	<p if.bind="secondarylabel" class="mdc-select-helper-text mdc-select-helper-text--persistent" aria-hidden="true">
		${secondarylabel}
	</p>
</template>