.mdc-select {
	width: 100%;

	&__native-control {
		font-size: inherit;

		&:focus {
			&:required ~ .mdc-select__label::after {
				color: #d50000;
			}
		}
	}

	&__native-control:required + .mdc-select__label::after {
		margin-left: 1px;
		content: "*";
	}

	&.mdc-select--invalid {
		&:not(.mdc-select--disabled) {
			.mdc-select__label,
			.mdc-select__bottom-line {
				color: #d50000;
			}
		}
	}

	//Temp fix, should be picked up by MDC
	&--focused {
		&:not(.mdc-select--disabled) {
			.mdc-floating-label {
				color: $mdc-theme-primary;
				color: var(--mdc-theme-primary, $mdc-theme-primary);
			}
			.mdc-line-ripple {
				background-color: $mdc-theme-primary;
				background-color: var(--mdc-theme-primary, $mdc-theme-primary);
			}
		}
	}
}
