ai-dialog-overlay {
	background-color: rgba(0,0,0,0.4);
}

ai-dialog-container.active {
	.mdc-dialog {
		opacity: 1;
		z-index: 0;
		&__surface {
			opacity: 1;
		}
	}
}

.mdc-dialog {
    overflow: auto;
	&--open {
		overflow: auto;
	}
	&__body {
		&--scrollable {
			max-height: calc(100vh - 208px) !important;
			overflow-y: auto !important;
		}
		.mdc-list {
			padding-left: 0;
			padding-right: 0;
		}

		.mdc-stepper {
			margin: 0;
			&-item {
				margin: 0;
			}
		}
	}
}

#dialog-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	padding: 20px;
	margin: 0;
	background: white;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}