.mdc-checkbox {
	&--required {
		label::after {
			margin-left: 1px;
			content: "*";
		}
	}
	
	&--invalid {
		&:not(.mdc-checkbox--disabled) label {
			color: #d50000;
		}
	} 
}

mdc-checkbox {
	&:not(disabled) {
		label:hover {
			cursor: pointer;
		}
	}
}