<template>
	<div class="mdc-chip" role="row">
		<div class="mdc-chip__ripple"></div>
		<i if.bind="leading" class="material-icons mdc-chip__icon mdc-chip__icon--leading">${leading}</i>
		<span role="gridcell">
		  <span role="button" tabindex="0" class="mdc-chip__primary-action">
			<span class="mdc-chip__text">${label}</span>
		  </span>
		</span>
		<i if.bind="trailing" class="material-icons mdc-chip__icon mdc-chip__icon--trailing" tabindex="0" role="button">${trailing}</i>
	</div>
</template>