<template class="mdc-form-field" bindable="id">
	<div class="mdc-radio ${disabled ? 'mdc-radio--disabled' : ''}">
		<input class="mdc-radio__native-control" type="radio" id="${id}" checked.bind="checked" disabled.bind="disabled" change.delegate="handleChange($event)" name="${name}" model.bind="key">
		<div class="mdc-radio__background">
			<div class="mdc-radio__outer-circle"></div>
			<div class="mdc-radio__inner-circle"></div>
		</div>
	</div>
	<label for="${id}" if.bind="label">${label}</label>
</template>