<template>
	<aside class="mdc-snackbar ${leading ? 'mdc-snackbar--leading' : ''} ${stacked ? 'mdc-snackbar--stacked' : ''}">
		<div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
			<div class="mdc-snackbar__label" aria-atomic="false"></div>
			<div class="mdc-snackbar__actions" aria-atomic="true">
				<button type="button" class="mdc-button mdc-snackbar__action">
					<div class="mdc-button__ripple"></div>
					<span class="mdc-button__label"></span>
				</button>
			</div>
		</div>
	</aside>
</template>