@use "@material/theme" with (
  $primary: #007d71,
  $secondary: #00adee,
  // $on-primary: #442b2d,
  // $on-secondary: #442b2d,
);

:root {
  --mdc-theme-primary: #007d71;
  --mdc-theme-secondary: #00adee;
}
//@use 'resources/styles/_aurelia-mdc-elements';
//@use 'material-components-web/material-components-web';

/* Drawer - based on drawer in combination with mdc-top-app-bar */
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.main-content {
  overflow: auto;
  height: 100%;
}

.app-bar {
  position: absolute;
}
/* end drawer styling */

.mdc-drawer {
  width: 300px;
  &__content {
    .mdc-layout-grid {
      padding: 0 12px;
    }
  }
}

.mdc-drawer.mdc-drawer--open:not(.mdc-drawer--closing) + .mdc-drawer-app-content {
  margin-left: 300px;
}

/*mdc expansion*/
.mdc-expansion__summary {
  height: 48px;
  display: flex;
  cursor: pointer;
  align-content: center;
  position: relative;
}

.mdc-expansion__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.9375rem;
  font-weight: 500;
  min-width: 200px;
  margin-right: 24px;
  text-transform: uppercase;
  height: 100%;
}

/*TextField*/
.mdc-text-field {
  width: 100%;
}