.mdc-stepper {
	display: flex;
	font-size: 12px;
	flex-flow: column wrap;
	padding: 16px 0;

	&-item {
		display: flex;
		margin: 0 24px;

		&__indicator {
			position: relative;

			&::after {
				content: '';
				position: absolute;
				top: 36px;
				bottom: 0;
				left: 10px;
				right: 20px;
				width: 1px;
				background: rgba(0, 0, 0, .38);
				background: var(--mdc-theme-text-hint-on-primary);
			}
		}

		&__value {
			width: 20px;
			height: 20px;
			line-height: 20px;
			border-radius: 50%;
			display: flex;
			flex: 0 0 20px;
			justify-content: center;
			align-items: center;
			font-size: 10px;
			margin: 8px 0;
			cursor: pointer;
			background: $mdc-theme-primary;
			background: var(--mdc-theme-primary);
			color: white;
			color: var(--mdc-theme-text-primary-on-primary-dark);

			&--inactive {
				background: lighten($mdc-theme-primary, 20%);
				background: var(--mdc-theme-primary-light);
			}
		}

		&__body {
			flex-grow: 1;
			flex-basis: 0px;
			margin: 0 12px;
			padding-bottom: 40px;
		}

		&__header {
			margin: 8px 0;
			cursor: pointer;

			&--subtitle {
				color: lightgray;
			}
		}

		&__content {
			margin: 8px 0;
			display: none;
			flex-direction: column;

			.mdc-list {
				padding: 8px 0 0 !important;
			}

			.material-icons--action {
				float: right;
			}
		}

		&__actions {
			margin: 16px 0 0;
			display: none;
		}

		&__action {
			margin-right: 8px;

			&:last-of-type {
				margin-right: 0;
			}
		}

		&--active {
			.mdc-stepper-item {
				&__content,
				&__actions {
					display: flex;
				}
			}
		}
	}
}
